<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Tech Blog</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <div class="wrapper">
      <header class="w">
        <h1>
          <a href="/">The Tech Blog</a>
        </h1>
        <nav>
          <ul>
            <li>
          <a href="/">homepage</a>
            </li>
            <li>
          <a href="/dashboard">dashboard</a>
            </li>
          {{#if loggedIn}}
          <li>
            <a id="logout" class="btn-no-style">logout</a>
          </li>
          {{else}}
          <li>
            <a href="/login">login</a>
          </li>
          {{/if}}
          </ul>
        </nav>
      </header>
      <main>
        {{{body}}}
      </main>
      <footer>
        Thanks for visiting!
      </footer>
    </div>

    {{#if loggedIn}}
      <script src="/javascript/logout.js"></script>
    {{/if}}
  </body>

</html>